<p>user works!</p>
<form [formGroup]="userForm">
    <label>
        Username
        <input type="text" formControlName="username"> 
    </label>
    <div formGroupName="credentials">
        <label>
            Email
            <input type="text" formControlName="email"> 
        </label>
            <label>
            Password
            <input type="text" formControlName="password"> 
        </label>            
    </div>
    <label>
        City
        <input type="text" formControlName="city"> 
    </label>
    <button type="button" (click)="Register()">Register</button>
</form>

<ul *ngIf="user not null">
    <li>Name :{{user.username}}</li>
    <li>Email: {{user.email}}</li>
    <li>Password: {{user.password}}</li>
    <li>City: {{user.city}}</li>
