<p>user works!</p>
<form [formGroup]="userForm">
    <label>
        Username
        <input type="text" formControlName="username"> 
    </label>
    <div formGroupName="credentials">
        <label>
            Email
            <input type="text" formControlName="email"> 
            <div *ngIf="userForm.get('credentials.email')?.errors && !userForm.get('credentials.email')?.pristine" class="error-msg">
                <div [hidden]="!userForm.get('credentials.email')?.hasError('required')">email is required.</div>
                <div [hidden]="!userForm.get('credentials.email')?.invalid">email is invalid.</div>
            </div>
            </label>
            <label>
            Password
            <input type="text" formControlName="password">
        <div *ngIf="userForm.get('credentials.password')?.errors && !userForm.get('credentials.password')?.pristine" class="error-msg">
            <div [hidden]="!userForm.get('credentials.password')?.hasError('required')">password is required.</div>
            <div [hidden]="!userForm.get('credentials.password')?.invalid">password is invalid.</div>
        </div>
        </label>
    </div>
    <label>
        City
        <input type="text" formControlName="city"> 
    </label>
    <button type="button" (click)="Register()">Register</button>
</form>

<ul *ngIf="user not null">
    <li>Name :{{user.username}}</li>
    <li>Email: {{user.email}}</li>
    <li>Password: {{user.password}}</li>
    <li>City: {{user.city}}</li>
